@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using dataModels.ViewModels
@model ChatViewModel
@{
    // string ToInductionUserGuidString = BitConverter.ToString(@Model.Userid);
} 
@* <div class="bg-outside text-light  mt-5 py-3 px-3">
    <div class="userProfile chat-profile text-light text-center py-2 border-2 border-light borderCustom mb-2 ">
        @Model.FirstName @Model.LastName  (@Model.PhoneNumber)
    </div>
    <div class="chatList  text-light px-2 border border-2 border-white position-relative pt-3 overflow-auto bgChat">
        <div class="chat-content" style="height: 90%; overflow-y: auto;">
            @foreach (var msg in Model.commonUserModels)
            {

                <div class="message-container">
                    <div class="msg-sent bgSender text-light mt-2 ps-1 pe-2 py-2 border border-white d-inline-block float-end">
                        @msg.Sms
                    </div>
                    <div class="clearfix"></div>
                    <div class="message-details text-end mt-1">
                        <div class="message-timestamp">
                            @msg.CreationTime?.ToString("dd MMMM yyyy HH:mm:ss") <span class="message-sender">(You)</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="position-relative mb-custom" style="height:10% ;">
            <div class="message position-absolute bottom-1 start-50 translate-middle-x width98">
                <div class="d-flex justify-content-center">
                    <div class="w-75">
                        <textarea class="form-control bg-dark text-light" id="message-text-for-inductionUser" rows="1"
                                  placeholder="Enter your message here.."></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary border-white BtnHover  text-center" id="post-message-for-inductionUser" data-toInductionUserId="@Model.Userid" type="button">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div> *@
<div class="py-1 px-2 chatListOfInductionUser" style="background-color: #e2e5e5;">
    <div style="height:80% ; overflow-y: auto;">
        <ul class="list-unstyled">
            @foreach (var msg in Model.commonUserModels)
            {
                var fullName = Model.creator;
                var initials = string.Join("", fullName.Split().Select(name => name[0]));

                <li class="d-flex justify-content-between mb-4">
                    <div class="rounded-circle d-flex align-self-center me-3 shadow-1-strong sender">
                        <span class="mx-auto my-auto">@initials</span>
                    </div>
                    <div class="card ">
                        <div class="card-header d-flex justify-content-between p-3">
                            <p class="fw-bold mb-0" style="color:#055160; ">@fullName</p>
                            <p class="text-muted small mb-0 ms-1">
                                <i class="bi bi-clock"></i>  @msg.CreationTime?.ToString("dd/MM/yyyy hh:mmtt")
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="mb-0">
                                @msg.Sms
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="position-relative mb-custom" style="height:10% ;">
        <div class="message position-absolute bottom-0 start-50 translate-middle-x width98" style="bottom: 0; height: auto;">
            <div class="d-flex justify-content-center">
                <div style="width:80%;">
                    <textarea class="form-control bg-white text-dark" id="message-text-for-inductionUser" rows="2"
                              placeholder="Enter your message here.."></textarea>
                </div>
                <div class="align-self-center">
                    <button class="btn btn-primary border-white BtnHover text-center" id="post-message-for-inductionUser" data-toInductionUserId="@Model.Userid" type="button">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



