@using dataModels.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 @model List<User>
@{
    Layout = null;
} 
<div class="my-5">

    <table class="table text-dark " id="userListTable">
        <thead class="bg-header" >
            <tr>
                <th class="priority-1" scope="col">Name</th>
                <th class="priority-2" scope="col">Phone Number</th>
                <th class="priority-3" scope="col">Email</th>
                @* <th scope="col">Action</th> *@
            </tr>
        </thead>
        <tbody class="bg-light text-dark">
            @{
                int item = 0;
                @foreach (var user in Model.Skip(1))
                {
                    @* <tr class="ClickRow" data-UserGUID="@userGuidString"> *@
                    if(item%2 == 0)
                    {
                        <tr class="ClickRow bg-1" data-UserGUID="@user.GuidforUser">
                            <td class="priority-1">@user.FirstName @user.LastName</td>
                            <td class="priority-2">@user.PhoneNumber</td>
                            <td class="priority-3">@user.Email</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="ClickRow bg-2" data-UserGUID="@user.GuidforUser">
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                    item++;
                }
            }
            
        </tbody>
    </table>
</div>