@using dataModels.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 @model List<User>
@{
    Layout = null;
} 
<div class="my-5">

    <table class="table text-light border border-2" id="userListTable">
        <thead class="bg-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                @* <th scope="col">Action</th> *@
            </tr>
        </thead>
        <tbody class="bg-light text-dark">
            @foreach (var user in Model.Skip(1))
            {
                @* <tr class="ClickRow" data-UserGUID="@userGuidString"> *@
                <tr class ="ClickRow" data-UserGUID="@user.GuidforUser">
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    @* <td>
                <button type="button" value="@user.Userid" class="btn btn-success userChat">Send the message</button>
                </td> *@
                </tr>


            }
        </tbody>
    </table>
</div>